@model IEnumerable<ResaleDashboard.Models.Platform>
@{
    ViewBag.Title = "Index";
}

<h2>Platform Index</h2>

<p>
    @Html.ActionLink("Create New Platform", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlatformID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlatformName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fees)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(x => item.PlatformID)
            </td>
            <td>
                @Html.DisplayFor(x => item.PlatformName)
            </td>
            <td>
                @Html.DisplayFor(x => item.Fees)
            </td>
            
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PlatformID })
                @Html.ActionLink("Details", "Details", new { id = item.PlatformID })
                @Html.ActionLink("Delete", "Delete", new { id = item.PlatformID })
            </td>
        </tr>
        }
</table>